---
export interface Props {
  company: string;
  companyLogo: string;
  link: string;
  jobTitle: string;
  fromDate: string;
  toDate: string;
  description: string[];
}

const { company, jobTitle, description, fromDate, toDate, link, companyLogo } =
  Astro.props;
---

<section class="flex flex-col justify-between gap-5 mb-10">
  <div class="flex justify-between items-center">
    <div class="border-l border-zinc-700 pl-2 mb-2">
      <h2
        class="text-lg font-semibold tracking-tight sm:text-xl text-primary-100"
      >
        <a
          class="hover:text-blue-400 transition ease-in-out duration-75 flex items-center gap-4"
          href={link}
          target="_blank"
          ><img
            alt="business logo"
            class="w-5 h-5 rounded-full ring-1 shadow-md shadow-primary-800/5 ring-primary-900"
            src={companyLogo}
          />{company}</a
        >
      </h2>
      <p
        class="text-sm tracking-tight sm:max-w-none sm:text-base max-w-[20ch] text-primary-300"
      >
        {jobTitle}
      </p>
    </div>
    <p class="text-zinc-300">{fromDate} - {toDate}</p>
  </div>
  <ul class="list-disc">
    {description.map((item) => <li>{item}</li>)}
  </ul>
</section>
